In [1]:
import pandas as pd
import numpy as np

In [66]:
originalDF = pd.read_csv('ttest.csv', delim_whitespace=True)
originalDF.columns = [col.replace(',', '') for col in originalDF.columns]
# if you want to operate on multiple columns, put them in a list like so:
cols = ['PLAYER', 'MIN', 'FGM','FGA', 'FG%', '3PM', '3PA','3P%','FTM','FTA','FT%','OREB','DREB','REB','AST','TOV','STL','BLK','PF','PTS','+/-']
# pass them to df.replace(), specifying each char and it's replacement:
originalDF[cols] = originalDF[cols].replace({'\$': '', ',': ''}, regex=True)

In [198]:
originalDF

,PLAYER,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,+/-
0,Gordon,Hayward,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5:15,1,2,50.0,0,1,0.0,0,0,0.0,...,1,1,0,0,0,0,1,2,3,NaN
2,Jayson,Tatum,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36:32,5,12,41.7,1,2,50.0,3,3,100,...,6,10,3,1,0,0,4,14,6,NaN
4,Al,Horford,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,32:05,2,7,28.6,0,2,0.0,5,7,71.4,...,7,7,5,0,0,1,2,9,8,NaN
6,Jaylen,Brown,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,39:37,11,23,47.8,2,9,22.2,1,2,50.0,...,5,6,0,3,2,0,5,25,-5,NaN
8,Kyrie,Irving,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,39:21,8,17,47.1,4,9,44.4,2,2,100,...,2,4,10,2,3,0,4,22,-1,NaN
10,Marcus,Smart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,35:03,5,16,31.3,0,4,0.0,2,3,66.7,...,9,9,3,2,2,2,2,12,-8,NaN
12,Aron,Baynes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,19:07,2,2,100,0,0,0.0,2,4,50.0,...,3,5,1,2,0,1,5,6,-14,NaN
14,Semi,Ojeleye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8:39,0,2,0.0,0,1,0.0,0,0,0.0,...,0,0,0,0,0,0,1,0,-10,NaN
16,Terry,Rozier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,19:32,2,6,33.3,1,3,33.3,4,4,100,...,3,3,2,0,4,0,0,9,4,NaN
18,Shane,Larkin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4:49,0,1,0.0,0,1,0.0,0,0,0.0,...,1,1,0,0,0,0,0,0,2,NaN
20,Abdel,Nader,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,DNP,-,COACH'S,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Daniel,Theis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,DNP,-,COACH'S,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Totals:,36,88,40.9,8,32,25.0,19,25,76.0,...,37,46,24,10,11,4,24,99,-3,NaN
25,PLAYER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Gordon,Hayward,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Jayson,Tatum,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Al,Horford,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Jaylen,Brown,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Kyrie,Irving,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Marcus,Smart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Aron,Baynes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Semi,Ojeleye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Terry,Rozier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Shane,Larkin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Abdel,Nader,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Daniel,Theis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Totals:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
#Setting up the index on the main dataframe
mainDFIndex = []
for index, row in originalDF.iterrows():
    if index % 2 == 0 and index < 24:
        mainDFIndex.append(str(row['PLAYER']) + " " + str(row['MIN']))
print(mainDFIndex)

['Gordon Hayward', 'Jayson Tatum', 'Al Horford', 'Jaylen Brown', 'Kyrie Irving', 'Marcus Smart', 'Aron Baynes', 'Semi Ojeleye', 'Terry Rozier', 'Shane Larkin', 'Abdel Nader', 'Daniel Theis']

In [203]:
#Setup dicts with the sub categories
newDict = dict()
something = originalDF.T.to_dict().values()
for index, i in enumerate(something):
    if index % 2 != 0 and index < 24:
        newDict[index] = i

In [212]:
#put them in dataframe and index it with the main index
finalStats = pd.DataFrame.from_dict(newDict,orient='index')
finalStats.index = mainDFIndex
finalStats

,+/-,PF,AST,FGM,STL,PTS,MIN,TOV,OREB,3P%,...,PLAYER,FT%,3PM,BLK,3PA,REB,FG%,DREB,FTM,FGA
Gordon Hayward,NaN,2,0,2,0,3,1,0,1,0,...,5:15,0,1,1,0.0,0,0,1,0,50.0
Jayson Tatum,NaN,14,1,12,0,6,5,0,6,3,...,36:32,4,2,4,50.0,3,1,10,3,41.7
Al Horford,NaN,9,0,7,1,8,2,0,7,5,...,32:05,0,2,2,0.0,5,0,7,7,28.6
Jaylen Brown,NaN,25,3,23,0,-5,11,2,5,1,...,39:37,1,9,5,22.2,0,2,6,2,47.8
Kyrie Irving,NaN,22,2,17,0,-1,8,3,2,2,...,39:21,2,9,4,44.4,10,4,4,2,47.1
Marcus Smart,NaN,12,2,16,2,-8,5,2,9,2,...,35:03,0,4,2,0.0,3,0,9,3,31.3
Aron Baynes,NaN,6,2,2,1,-14,2,0,3,2,...,19:07,2,0,5,0.0,1,0,5,4,100
Semi Ojeleye,NaN,0,0,2,0,-10,0,0,0,0,...,8:39,0,1,1,0.0,0,0,0,0,0.0
Terry Rozier,NaN,9,0,6,0,4,2,4,3,4,...,19:32,0,3,0,33.3,2,1,3,4,33.3
Shane Larkin,NaN,0,0,1,0,2,0,0,1,0,...,4:49,0,1,0,0.0,0,0,1,0,0.0
Abdel Nader,NaN,NaN,NaN,COACH'S,NaN,NaN,-,NaN,NaN,NaN,...,DNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DECISION
Daniel Theis,NaN,NaN,NaN,COACH'S,NaN,NaN,-,NaN,NaN,NaN,...,DNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DECISION