In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
#statsDF - initial stats dataframe
#gamesDF - initial games dataframe
#newGamesDF - formatted games dataframe with game date as index and rest of record in one row
#finalStats - formatted stats dataframe with player's name as the index
#mainDF: The dataframe where the main analysis will take place.

In [8]:
#STATS CELL: This prepares the stats section into a dataframe
#Passing in csv file and getting rid of the unused rows
statsDF = pd.read_csv('stats.csv', delim_whitespace=True)
statsDF.columns = [col.replace(',', '') for col in statsDF.columns]
# if you want to operate on multiple columns, put them in a list like so:
cols = ['PLAYER', 'MIN', 'FGM','FGA', 'FG%', '3PM', '3PA','3P%','FTM','FTA','FT%','OREB','DREB','REB','AST','TOV','STL','BLK','PF','PTS','+/-']
teams = ['BOS:','CLE:','HOU:','GSW:']
# pass them to df.replace(), specifying each char and it's replacement:
statsDF[cols] = statsDF[cols].replace({'\$': '', ',': ''}, regex=True)
#Remove columns for team name, totals, and the word 'player'
statsDF = statsDF[statsDF.PLAYER != 'PLAYER']
statsDF = statsDF[statsDF.PLAYER != 'Totals:']
statsDF = statsDF[statsDF.PLAYER != 'Cleveland']
for i in teams:
    statsDF = statsDF[statsDF.PLAYER != i]
#Reset Index
statsDF = statsDF.reset_index(drop=True)

In [18]:
#GAMES CELL: This prepares the games section into a dataframe
#Passing in csv file and getting rid of the unused rows
gamesDF = pd.read_csv('games.csv', header= None, names=['a','b','c','d','e','f','g','h','i'], index_col=False, error_bad_lines=False, delim_whitespace=True)
gamesDF.columns = [col.replace(',', '') for col in gamesDF.columns]
#if you want to operate on multiple columns, put them in a list like so:
games_cols = ['a','b','c','d','e','f','g','h','i']
# pass them to df.replace(), specifying each char and it's replacement:
gamesDF[games_cols] = gamesDF[games_cols].replace({'\$': '', ',': ''}, regex=True)
# This will add the winner to column b of each 26th row
for index, row in gamesDF.iterrows():
    if index % 26 == 0 or index == 0:
        if int(gamesDF['a'].iloc[index+4]) > int(gamesDF['a'].iloc[index + 8]):
            gamesDF['b'].iloc[index] = gamesDF['a'].iloc[index + 1]
        else:
            gamesDF['b'].iloc[index] = gamesDF['a'].iloc[index + 5]
    else:
        pass

In [19]:
gamesDF

,a,b,c,d,e,f,g,h,i
0,FINAL,CLEVELAND,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BOSTON,CELTICS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LINEUPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CLEVELAND,CAVALIERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,LINEUPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,OCT,"17""""",2017,NaN,NaN,NaN,NaN,NaN,NaN
10,Q1,Q2,Q3,Q4,Final,NaN,NaN,NaN,NaN
11,BOS,19,19,33,28,99,NaN,NaN,NaN
12,CLE,29,25,18,30,102,NaN,NaN,NaN
13,PITP,2ND,PTS,FBPS,BIG,LD,TM,REB,TM
14,42,2,16,4,6,2,12,13,NaN
15,50,16,11,18,5,0,17,24,NaN
16,LEAD,CHANGES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,TIMES,TIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,GAMETIME:,2:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,ATTENDANCE:,"20""""562",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,OFFICIALS:,Monty,"McCutchen""""",Michael,"Smith""""",Brian,Forte,NaN,NaN
23,WATCH,HIGHLIGHTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NBA,LEAGUE,PASS,NaN,NaN,NaN,NaN,NaN,NaN
25,GAMEBOOK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,FINAL,HOUSTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,HOUSTON,ROCKETS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1-0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,LINEUPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,GOLDEN,STATE,WARRIORS,NaN,NaN,NaN,NaN,NaN,NaN
32,0-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,LINEUPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,OCT,"17""""",2017,NaN,NaN,NaN,NaN,NaN,NaN
36,Q1,Q2,Q3,Q4,Final,NaN,NaN,NaN,NaN
37,HOU,34,28,26,34,122,NaN,NaN,NaN
38,GSW,35,36,30,20,121,NaN,NaN,NaN
39,PITP,2ND,PTS,FBPS,BIG,LD,TM,REB,TM
40,54,18,15,2,10,1,13,12,NaN
41,32,8,36,17,1,0,17,21,NaN
42,LEAD,CHANGES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,TIMES,TIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,GAMETIME:,2:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,ATTENDANCE:,"19""""596",NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,OFFICIALS:,Scott,"Foster""""",Ron,"Garretson""""",Tre,Maddox,NaN,NaN
49,WATCH,HIGHLIGHTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NBA,LEAGUE,PASS,NaN,NaN,NaN,NaN,NaN,NaN
51,GAMEBOOK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
dateIndex = []
month = ['OCT', 'NOV', 'DEC', 'JAN', 'FEB']
for index, row in gamesDF.iterrows():
    for i in month:
        if gamesDF.iloc[index][0] == i:
            dateIndex.append(gamesDF.iloc[9,0] + " " + gamesDF.iloc[9,1][1] + ", " + gamesDF.iloc[9,2])
dateIndex

['OCT 7, 2017', 'OCT 7, 2017']

In [36]:
#This cell will arrange the gamesDF into the actual formatted games dataframe, newGamesDF
#Setting up the index on the main stats dataframe
dateIndex = []
month = ['OCT', 'NOV', 'DEC', 'JAN', 'FEB']
for index, row in gamesDF.iterrows():
    for i in month:
        if gamesDF.iloc[index][0] == i:
            dateIndex.append(gamesDF.iloc[9,0] + " " + gamesDF.iloc[9,1][1] + ", " + gamesDF.iloc[9,2])
#Create an empty dataframe, based on the games date as the index 
newGamesDF = pd.DataFrame(index = dateIndex, columns=['Home','Away','W/L','1st Qtr H','2nd Qtr H','3rd Qtr H','4th Qtr H','1st Qtr A','2nd Qtr A','3rd Qtr A','4th Qtr A','Total H','Total A', 'Ref1','Ref2','Ref3'])
#The next lines will pull the data from the cells in the gamesDF and into the newGamesDF dataframe
#STOPPED HERE. NEED TO THINK OF A WAY TO LOOP THROUGH GAMESDF AND ADD IT TO NEWGAMESDF
for index, row in gamesDF.iterrows():
    if index == 11 or index % 37 == 0:
        newGamesDF['Away'] = gamesDF['a'].iloc[index]
    newGamesDF['Home'] = gamesDF['a'].iloc[5]
    newGamesDF['W/L'] = gamesDF['b'].iloc[0]
    newGamesDF['1st Qtr H'] = gamesDF['b'].iloc[12]
    newGamesDF['2nd Qtr H'] = gamesDF['c'].iloc[12]
    newGamesDF['3rd Qtr H'] = gamesDF['d'].iloc[12]
    newGamesDF['4th Qtr H'] = gamesDF['e'].iloc[12]
    newGamesDF['1st Qtr A'] = gamesDF['b'].iloc[11]
    newGamesDF['2nd Qtr A'] = gamesDF['c'].iloc[11]
    newGamesDF['3rd Qtr A'] = gamesDF['d'].iloc[11]
    newGamesDF['4th Qtr A'] = gamesDF['e'].iloc[11]
    newGamesDF['Total H'] = gamesDF['f'].iloc[12]
    newGamesDF['Total A'] = gamesDF['f'].iloc[11]
    newGamesDF['Ref1'] = gamesDF['c'].iloc[22][:-2]
    newGamesDF['Ref2'] = gamesDF['e'].iloc[22][:-2]
    newGamesDF['Ref3'] = gamesDF['g'].iloc[22]
newGamesDF

,Home,Away,W/L,1st Qtr H,2nd Qtr H,3rd Qtr H,4th Qtr H,1st Qtr A,2nd Qtr A,3rd Qtr A,4th Qtr A,Total H,Total A,Ref1,Ref2,Ref3
"OCT 7, 2017",CLEVELAND,HOU,CLEVELAND,29,25,18,30,19,19,33,28,102,99,McCutchen,Smith,Forte
"OCT 7, 2017",CLEVELAND,HOU,CLEVELAND,29,25,18,30,19,19,33,28,102,99,McCutchen,Smith,Forte

In [9]:
statsDF

,PLAYER,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,+/-
0,Gordon,Hayward,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5:15,1,2,50.0,0,1,0.0,0,0,0.0,...,1,1,0,0,0,0,1,2,3,NaN
2,Jayson,Tatum,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36:32,5,12,41.6,1,2,50.0,3,3,100,...,6,10,3,1,0,0,4,14,6,NaN
4,Al,Horford,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,32:07,2,7,28.5,0,2,0.0,5,7,71.3,...,7,7,5,0,0,1,2,9,8,NaN
6,Jaylen,Brown,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,39:36,11,23,47.7,2,9,22.2,1,2,50.0,...,5,6,0,3,2,0,5,25,-5,NaN
8,Kyrie,Irving,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,39:21,8,17,47.0,4,9,44.4,2,2,100,...,2,4,10,2,3,0,4,22,-1,NaN
10,Marcus,Smart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,35:03,5,16,31.3,0,4,0.0,2,3,66.7,...,9,9,3,2,2,2,2,12,-8,NaN
12,Aron,Baynes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,19:06,2,2,100,0,0,0.0,2,4,50.0,...,3,5,1,2,0,1,5,6,-14,NaN
14,Semi,Ojeleye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8:39,0,2,0.0,0,1,0.0,0,0,0.0,...,0,0,0,0,0,0,1,0,-10,NaN
16,Terry,Rozier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,19:32,2,6,33.3,1,3,33.3,4,4,100,...,3,3,2,0,4,0,0,9,4,NaN
18,Shane,Larkin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4:49,0,1,0.0,0,1,0.0,0,0,0.0,...,1,1,0,0,0,0,0,0,2,NaN
20,Abdel,Nader,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,DNP,-,COACH'S,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Daniel,Theis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,DNP,-,COACH'S,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,LeBron,James,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,41:12,12,19,63.2,1,5,20.0,4,4,100,...,15,16,9,4,0,2,3,29,2,NaN
26,Jae,Crowder,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,34:44,3,10,29.9,1,5,20.0,4,4,100,...,4,5,2,1,2,0,2,11,7,NaN
28,Kevin,Love,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,28:24,4,9,44.4,1,4,25.0,6,7,85.6,...,8,11,0,2,0,0,2,15,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Zhou,Qi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,DNP,-,COACH'S,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Golden,State,Warriors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Kevin,Durant,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,37:38,7,15,46.7,2,5,40.0,4,5,80.0,...,4,5,7,8,0,4,4,20,11,NaN
80,Draymond,Green,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,27:39,2,6,33.3,1,2,50.0,4,4,100,...,10,11,13,2,0,0,3,9,7,NaN
82,Zaza,Pachulia,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,10:14,2,2,100,0,0,0.0,2,2,100,...,3,3,0,0,0,1,1,6,8,NaN
84,Klay,Thompson,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,38:09,6,14,42.8,4,7,57.0,0,0,0.0,...,6,6,3,1,2,2,0,16,0,NaN
86,Stephen,Curry,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,29:33,8,18,44.4,3,9,33.3,3,3,100,...,5,5,4,2,1,0,4,22,9,NaN
88,Patrick,McCaw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,18:39,2,3,66.7,0,0,0.0,0,0,0.0,...,2,3,1,0,1,1,1,4,-9,NaN
90,Jordan,Bell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,11:46,4,5,80.0,0,0,0.0,0,0,0.0,...,1,1,1,1,0,0,4,8,-2,NaN
92,Nick,Young,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,26:10,8,9,88.9,6,7,85.6,1,1,100,...,1,2,0,1,0,0,4,23,-10,NaN
94,Shaun,Livingston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,18:33,2,5,40.0,0,0,0.0,2,2,100,...,0,1,5,1,0,0,2,6,-8,NaN
96,Omri,Casspi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,4:28,0,0,0.0,0,0,0.0,2,2,100,...,1,1,0,0,0,0,0,2,-4,NaN
98,Kevon,Looney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,7:46,0,0,0.0,0,0,0.0,1,2,50.0,...,2,2,0,0,1,0,2,1,-7,NaN
100,David,West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,9:25,2,3,66.7,0,0,0.0,0,0,0.0,...,0,1,0,1,0,1,0,4,0,NaN
102,JaVale,McGee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,DNP,-,COACH'S,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,INACTIVE,PLAYERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Setting up the index on the main stats dataframe
mainDFIndex = []
for index, row in statsDF.iterrows():
    if index % 2 == 0 and index != 50:
        mainDFIndex.append(str(row['PLAYER']) + " " + str(row['MIN']))
print(mainDFIndex)

['Gordon Hayward', 'Jayson Tatum', 'Al Horford', 'Jaylen Brown', 'Kyrie Irving', 'Marcus Smart', 'Aron Baynes', 'Semi Ojeleye', 'Terry Rozier', 'Shane Larkin', 'Abdel Nader', 'Daniel Theis', 'LeBron James', 'Jae Crowder', 'Kevin Love', 'Dwyane Wade', 'Derrick Rose', 'Tristan Thompson', 'JR Smith', 'Iman Shumpert', 'Jeff Green', 'Kyle Korver', 'Jose Calderon', 'Channing Frye', 'Cedi Osman']

In [7]:
#Setup dicts with the sub categories
newDict = dict()
something = statsDF.T.to_dict().values()
for index, i in enumerate(something):
    if index % 2 != 0:
        newDict[index] = i

In [18]:
#put them in dataframe, index it with the main index, drop nan columns, rename the columns to their proper categories
finalStats = pd.DataFrame.from_dict(newDict,orient='index')
finalStats.index = mainDFIndex
finalStats.drop(['+/-'], axis=1, inplace=True)
finalStats = finalStats.rename(columns={'PLAYER':'MIN','MIN':'FGM', 'FGM':'FGA', 'FGA':'FG%', 'FG%':'3PM', '3PM':'3PA', '3PA':'3P%', '3P%':'FTM', 'FTM':'FTA', 'FTA':'FT%', 'FT%':'OREB', 'OREB':'DREB', 'DREB':'REB', 'REB':'AST', 'AST':'TOV', 'TOV':'BLK', 'BLK':'PF', 'PF':'PTS', 'PTS':'+/-'})

In [19]:
#This cell will create the mainDF, a multi-indexed dataframe which indexes by date, then team, then player
#multiDFIndex will create a tuple for the multi-index dataframe
#teams variable will bring the teams into a list of lists, which the next line will flatten into one list.
teams = [newGamesDF['Away'].iloc[0] for i  in range(12)],[newGamesDF['Home'].iloc[0] for i  in range(13)]
teams = sum(teams,[])
multiDFIndex = [newGamesDF.index.tolist()*25,teams,mainDFIndex]

In [20]:
#mainDF: The dataframe where the main analysis will take place.
mainDF = finalStats.set_index(multiDFIndex)

In [21]:
#This will take logic about the game itself and add it to the main DataFrame. There should be field for team points,home/away, win/loss

total_points = []
win_loss = []
home_away = []

for index, row in mainDF.iterrows():
    if index[1] == newGamesDF['Away'].iloc[0]:
        total_points.append(newGamesDF['Total A'].iloc[0])
        home_away.append('Away')
    else:
        total_points.append(newGamesDF['Total H'].iloc[0])
        home_away.append('Home')
        
for index, row in mainDF.iterrows():
    if index[1] == newGamesDF['W/L'].iloc[0]:
        win_loss.append('Win')
    else:
        win_loss.append('Loss')
mainDF['Total Points'] = total_points
mainDF['Home/Away'] = home_away
mainDF['W/L'] = win_loss
mainDF.apply(pd.to_numeric, errors=0)

                                        MIN   FGM   FGA    FG%  3PM  3PA  \
OCT 7, 2017 BOSTON    Gordon Hayward    NaN   1.0   2.0   50.0  0.0  1.0
                      Jayson Tatum      NaN   5.0  12.0   41.7  1.0  2.0
                      Al Horford        NaN   2.0   7.0   28.6  0.0  2.0
                      Jaylen Brown      NaN  11.0  23.0   47.8  2.0  9.0
                      Kyrie Irving      NaN   8.0  17.0   47.1  4.0  9.0
                      Marcus Smart      NaN   5.0  16.0   31.3  0.0  4.0
                      Aron Baynes       NaN   2.0   2.0  100.0  0.0  0.0
                      Semi Ojeleye      NaN   0.0   2.0    0.0  0.0  1.0
                      Terry Rozier      NaN   2.0   6.0   33.3  1.0  3.0
                      Shane Larkin      NaN   0.0   1.0    0.0  0.0  1.0
                      Abdel Nader       NaN   NaN   NaN    NaN  NaN  NaN
                      Daniel Theis      NaN   NaN   NaN    NaN  NaN  NaN
            CLEVELAND LeBron James      NaN  12.0  19.0   63.2  1.0  5.0
                      Jae Crowder       NaN   3.0  10.0   30.0  1.0  5.0
                      Kevin Love        NaN   4.0   9.0   44.4  1.0  4.0
                      Dwyane Wade       NaN   3.0  10.0   30.0  0.0  1.0
                      Derrick Rose      NaN   5.0  14.0   35.7  1.0  3.0
                      Tristan Thompson  NaN   2.0   3.0   66.7  0.0  0.0
                      JR Smith          NaN   4.0   7.0   57.1  1.0  3.0
                      Iman Shumpert     NaN   2.0   3.0   66.7  0.0  0.0
                      Jeff Green        NaN   3.0   8.0   37.5  0.0  1.0
                      Kyle Korver       NaN   0.0   0.0    0.0  0.0  0.0
                      Jose Calderon     NaN   NaN   NaN    NaN  NaN  NaN
                      Channing Frye     NaN   NaN   NaN    NaN  NaN  NaN
                      Cedi Osman        NaN   NaN   NaN    NaN  NaN  NaN

                                         3P%  FTM  FTA    FT% ...    AST  TOV  \
OCT 7, 2017 BOSTON    Gordon Hayward     0.0  0.0  0.0    0.0 ...    0.0  0.0
                      Jayson Tatum      50.0  3.0  3.0  100.0 ...    3.0  1.0
                      Al Horford         0.0  5.0  7.0   71.4 ...    5.0  0.0
                      Jaylen Brown      22.2  1.0  2.0   50.0 ...    0.0  3.0
                      Kyrie Irving      44.4  2.0  2.0  100.0 ...   10.0  2.0
                      Marcus Smart       0.0  2.0  3.0   66.7 ...    3.0  2.0
                      Aron Baynes        0.0  2.0  4.0   50.0 ...    1.0  2.0
                      Semi Ojeleye       0.0  0.0  0.0    0.0 ...    0.0  0.0
                      Terry Rozier      33.3  4.0  4.0  100.0 ...    2.0  0.0
                      Shane Larkin       0.0  0.0  0.0    0.0 ...    0.0  0.0
                      Abdel Nader        NaN  NaN  NaN    NaN ...    NaN  NaN
                      Daniel Theis       NaN  NaN  NaN    NaN ...    NaN  NaN
            CLEVELAND LeBron James      20.0  4.0  4.0  100.0 ...    9.0  4.0
                      Jae Crowder       20.0  4.0  4.0  100.0 ...    2.0  1.0
                      Kevin Love        25.0  6.0  7.0   85.7 ...    0.0  2.0
                      Dwyane Wade        0.0  2.0  2.0  100.0 ...    3.0  4.0
                      Derrick Rose      33.3  3.0  4.0   75.0 ...    2.0  2.0
                      Tristan Thompson   0.0  1.0  3.0   33.3 ...    2.0  2.0
                      JR Smith          33.3  1.0  1.0  100.0 ...    1.0  0.0
                      Iman Shumpert      0.0  0.0  0.0    0.0 ...    0.0  1.0
                      Jeff Green         0.0  0.0  0.0    0.0 ...    0.0  1.0
                      Kyle Korver        0.0  0.0  0.0    0.0 ...    0.0  0.0
                      Jose Calderon      NaN  NaN  NaN    NaN ...    NaN  NaN
                      Channing Frye      NaN  NaN  NaN    NaN ...    NaN  NaN
                      Cedi Osman         NaN  NaN  NaN    NaN ...    NaN  NaN

                                        BLK  STL   PF   PTS   +/-  \
OCT 7, 2017 BOSTON    Gordon Hayward    0.0  0.0  1.0   2.0   3.0
                      Jayson Tatum      0.0  0.0  4.0  14.0   6.0
                      Al Horford        0.0  1.0  2.0   9.0   8.0
                      Jaylen Brown      2.0  0.0  5.0  25.0  -5.0
                      Kyrie Irving      3.0  0.0  4.0  22.0  -1.0
                      Marcus Smart      2.0  2.0  2.0  12.0  -8.0
                      Aron Baynes       0.0  1.0  5.0   6.0 -14.0
                      Semi Ojeleye      0.0  0.0  1.0   0.0 -10.0
                      Terry Rozier      4.0  0.0  0.0   9.0   4.0
                      Shane Larkin      0.0  0.0  0.0   0.0   2.0
                      Abdel Nader       NaN  NaN  NaN   NaN   NaN
                      Daniel Theis      NaN  NaN  NaN   NaN   NaN
            CLEVELAND LeBron James      0.0  2.0  3.0  29.0   2.0
                      Jae Crowder       2.0  0.0  2.0  11.0   7.0
                      Kevin Love        0.0  0.0  2.0  15.0   1.0
                      Dwyane Wade       0.0  2.0  1.0   8.0   0.0
                      Derrick Rose      0.0  0.0  2.0  14.0  -7.0
                      Tristan Thompson  0.0  0.0  3.0   5.0   2.0
                      JR Smith          0.0  0.0  4.0  10.0   7.0
                      Iman Shumpert     1.0  0.0  3.0   4.0   6.0
                      Jeff Green        0.0  0.0  3.0   6.0  -2.0
                      Kyle Korver       0.0  0.0  2.0   0.0  -1.0
                      Jose Calderon     NaN  NaN  NaN   NaN   NaN
                      Channing Frye     NaN  NaN  NaN   NaN   NaN
                      Cedi Osman        NaN  NaN  NaN   NaN   NaN

                                        Total Points  Home/Away  W/L
OCT 7, 2017 BOSTON    Gordon Hayward              99        NaN  NaN
                      Jayson Tatum                99        NaN  NaN
                      Al Horford                  99        NaN  NaN
                      Jaylen Brown                99        NaN  NaN
                      Kyrie Irving                99        NaN  NaN
                      Marcus Smart                99        NaN  NaN
                      Aron Baynes                 99        NaN  NaN
                      Semi Ojeleye                99        NaN  NaN
                      Terry Rozier                99        NaN  NaN
                      Shane Larkin                99        NaN  NaN
                      Abdel Nader                 99        NaN  NaN
                      Daniel Theis                99        NaN  NaN
            CLEVELAND LeBron James               102        NaN  NaN
                      Jae Crowder                102        NaN  NaN
                      Kevin Love                 102        NaN  NaN
                      Dwyane Wade                102        NaN  NaN
                      Derrick Rose               102        NaN  NaN
                      Tristan Thompson           102        NaN  NaN
                      JR Smith                   102        NaN  NaN
                      Iman Shumpert              102        NaN  NaN
                      Jeff Green                 102        NaN  NaN
                      Kyle Korver                102        NaN  NaN
                      Jose Calderon              102        NaN  NaN
                      Channing Frye              102        NaN  NaN
                      Cedi Osman                 102        NaN  NaN

[25 rows x 23 columns]

In [41]:
#This function will calculate the projected fantasy points per game
def fantasy_points(row):
    try:
        score = (int(row['3PM']) * 3) + (int(row['FGM']) * 2) + (int(row['REB']) * 1) + (int(row['AST']) * 1.5) + (int(row['BLK']) * 3) + (int(row['STL']) * 3) + (int(row['TOV']) * -1)
        return score
    except:
        pass

mainDF['Fantasy Score'] = mainDF.apply(fantasy_points, axis=1)

In [44]:
mainDF[['Fantasy Score','AST']]

                                        Fantasy Score  AST
OCT 7, 2017 BOSTON    Gordon Hayward              3.0    0
                      Jayson Tatum               26.5    3
                      Al Horford                 21.5    5
                      Jaylen Brown               37.0    0
                      Kyrie Irving               54.0   10
                      Marcus Smart               33.5    3
                      Aron Baynes                11.5    1
                      Semi Ojeleye                0.0    0
                      Terry Rozier               25.0    2
                      Shane Larkin                1.0    0
                      Abdel Nader                 NaN  NaN
                      Daniel Theis                NaN  NaN
            CLEVELAND LeBron James               58.5    9
                      Jae Crowder                22.0    2
                      Kevin Love                 20.0    0
                      Dwyane Wade                14.5    3
                      Derrick Rose               18.0    2
                      Tristan Thompson           11.0    2
                      JR Smith                   16.5    1
                      Iman Shumpert               8.0    0
                      Jeff Green                  5.0    0
                      Kyle Korver                 0.0    0
                      Jose Calderon               NaN  NaN
                      Channing Frye               NaN  NaN
                      Cedi Osman                  NaN  NaN

In [27]:
mainDF['AST']

OCT 7, 2017  BOSTON     Gordon Hayward        0
                        Jayson Tatum          3
                        Al Horford            5
                        Jaylen Brown          0
                        Kyrie Irving         10
                        Marcus Smart          3
                        Aron Baynes           1
                        Semi Ojeleye          0
                        Terry Rozier          2
                        Shane Larkin          0
                        Abdel Nader         NaN
                        Daniel Theis        NaN
             CLEVELAND  LeBron James          9
                        Jae Crowder           2
                        Kevin Love            0
                        Dwyane Wade           3
                        Derrick Rose          2
                        Tristan Thompson      2
                        JR Smith              1
                        Iman Shumpert         0
                        Jeff Green            0
                        Kyle Korver           0
                        Jose Calderon       NaN
                        Channing Frye       NaN
                        Cedi Osman          NaN
Name: AST, dtype: object