In [52]:
import pandas as pd
import numpy as np
import itertools

In [53]:
#statsDF - initial stats dataframe
#gamesDF - initial games dataframe
#newGamesDF - formatted games dataframe with game date as index and rest of record in one row
#finalStats - formatted stats dataframe with player's name as the index
#mainDF: The dataframe where the main analysis will take place.

In [54]:
#Dump the stats dataframe into a csv and clean it up
cols = ['PLAYER', 'MIN', 'FGM','FGA', 'FG%', '3PM', '3PA','3P%','FTM','FTA','FT%','OREB','DREB','REB','AST','TOV','STL','BLK','PF','PTS','+/-']
statsDF = pd.read_csv('stats.csv', header= None, names=cols, index_col=False, error_bad_lines=False, delim_whitespace=True)
statsDF[cols] = statsDF[cols].replace({'\$': '', ',': ''}, regex=True)

In [55]:
statsDF = statsDF[statsDF.PLAYER != 'PLAYER']
statsDF = statsDF[statsDF.PLAYER != 'Totals:']
statsDF = statsDF[statsDF.PLAYER != 'INACTIVE']
statsDF = statsDF.reset_index(drop=True)

In [56]:
statsDF

,PLAYER,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,+/-
0,New,York,Knicks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tim,Hardaway,Jr.,F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28:57,3,10,30.0,2,7,28.6,0,0,0.0,...,0,0,1,2,0,0,5,8,-6,NaN
3,Kristaps,Porzingis,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,38:17,11,25,44.0,2,6,33.3,7,9,77.8,...,9,12,1,2,0,1,3,31,-17,NaN
5,Enes,Kanter,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,22:17,5,10,50.0,0,1,0.0,0,0,0.0,...,5,7,1,4,3,0,1,10,-22,NaN
7,Courtney,Lee,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,31:28,4,9,44.4,1,2,50.0,0,0,0.0,...,2,2,3,2,1,0,0,9,-22,NaN
9,Ramon,Sessions,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,20:38,1,3,33.3,1,2,50.0,0,0,0.0,...,2,2,1,3,1,1,3,3,-23,NaN
11,Lance,Thomas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,15:29,1,4,25.0,0,2,0.0,0,0,0.0,...,1,3,1,2,0,0,4,2,-23,NaN
13,Ron,Baker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,22:38,1,3,33.3,1,2,50.0,3,8,37.5,...,2,2,4,4,3,0,1,6,4,NaN
15,Doug,McDermott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,23:49,2,5,40.0,0,1,0.0,0,0,0.0,...,2,3,4,1,0,1,0,4,4,NaN
17,Michael,Beasley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0:36,1,1,100,0,0,0.0,0,0,0.0,...,0,0,0,0,0,0,0,2,3,NaN
19,Kyle,O'Quinn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21:45,2,5,40.0,0,1,0.0,2,2,100,...,7,10,2,2,0,0,4,6,-1,NaN
21,Frank,Ntilikina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,7:32,0,2,0.0,0,0,0.0,0,0,0.0,...,0,0,1,1,0,0,2,0,-2,NaN
23,Willy,Hernangomez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,3:46,1,1,100,0,0,0.0,1,1,100,...,0,0,0,2,0,1,0,3,0,NaN
25,Damyean,Dotson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2:48,0,1,0.0,0,0,0.0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,NaN
27,Oklahoma,City,Thunder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Paul,George,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,39:06,9,23,39.1,6,13,46.2,4,4,100,...,6,6,1,1,1,1,1,28,23,NaN
30,Carmelo,Anthony,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,33:41,8,20,40.0,3,10,30.0,3,5,60.0,...,1,1,1,2,2,2,4,22,1,NaN
32,Steven,Adams,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,29:36,5,5,100,0,0,0.0,2,3,66.7,...,3,5,1,1,5,3,3,12,27,NaN
34,Andre,Roberson,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,20:59,3,7,42.9,0,2,0.0,0,0,0.0,...,3,6,2,0,1,0,0,6,3,NaN
36,Russell,Westbrook,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,33:17,7,12,58.3,0,1,0.0,7,10,70.0,...,8,10,16,7,0,1,4,21,29,NaN
38,Alex,Abrines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,24:14,1,5,20.0,1,5,20.0,0,0,0.0,...,3,3,0,2,1,0,3,3,23,NaN
40,Jerami,Grant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,20:31,2,6,33.3,1,3,33.3,0,0,0.0,...,1,3,2,2,0,0,4,5,13,NaN
42,Terrance,Ferguson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,10:39,1,5,20.0,0,2,0.0,0,0,0.0,...,0,0,0,1,0,0,1,2,-1,NaN
44,Raymond,Felton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,15:53,1,2,50.0,0,0,0.0,0,0,0.0,...,0,0,3,0,3,0,2,2,-12,NaN
46,Patrick,Patterson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,6:42,0,2,0.0,0,2,0.0,0,0,0.0,...,2,2,0,1,0,0,0,0,-1,NaN
48,Dakari,Johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2:48,2,3,66.7,0,0,0.0,0,0,0.0,...,1,4,0,0,1,0,0,4,0,NaN
50,Josh,Huestis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2:34,0,0,0.0,0,0,0.0,0,0,0.0,...,0,1,0,1,0,0,0,0,0,NaN
52,Nick,Collison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,DNP,-,COACH'S,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NYK:,Jarrett,"Jack""""",Joakim,"Noah""""",Luke,"Kornet""""",Mindaugas,Kuzminskas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,OKC:,Kyle,"Singler""""",Daniel,"Hamilton""""",PJ,Dozier,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
home_city = []
flag = 0
away_player_count = 0
for index,row in statsDF.iterrows():
    if index == 26 and flag == 0:
        flag = 1
    else:
        if row[0] == 'DNP' or row[0] == 'NWT':
            flag = 1
        else:
            if statsDF.iloc[index + 1][0] == 'DNP' or statsDF.iloc[index + 1][0] == 'NWT':
                continue
            elif flag == 1:
                home_city.append(row[0])
                if index % 2 == 0:
                    home_city.append(statsDF.iloc[-1][0])
                    away_city = [statsDF.iloc[0][0],statsDF.iloc[-2][0]]
                    statsDF = statsDF[statsDF.PLAYER != home_city[1]]
                    statsDF = statsDF[statsDF.PLAYER != away_city[0]]
                    statsDF = statsDF[statsDF.PLAYER != away_city[1]]
                    statsDF = statsDF.reset_index(drop=True)
                    away_player_count = int(statsDF.index[index] / 2)
                    break
                else:
                    home_city.append(statsDF.iloc[-1][0])
                    away_city = [statsDF.iloc[0][0],statsDF.iloc[-2][0]]
                    statsDF = statsDF[statsDF.PLAYER != home_city[0]]
                    statsDF = statsDF[statsDF.PLAYER != home_city[1]]
                    statsDF = statsDF[statsDF.PLAYER != away_city[0]]
                    statsDF = statsDF[statsDF.PLAYER != away_city[1]]
                    statsDF = statsDF.reset_index(drop=True)
                    away_player_count = int(statsDF.index[index] / 2)
                    break
            else:
                continue

In [58]:
#Setting up the index on the main stats dataframe
mainDFIndex = []
for index, row in statsDF.iterrows():
    if index % 2 == 0:
        mainDFIndex.append(str(row['PLAYER']) + " " + str(row['MIN']))
print(mainDFIndex)

['Tim Hardaway', 'Kristaps Porzingis', 'Enes Kanter', 'Courtney Lee', 'Ramon Sessions', 'Lance Thomas', 'Ron Baker', 'Doug McDermott', 'Michael Beasley', "Kyle O'Quinn", 'Frank Ntilikina', 'Willy Hernangomez', 'Damyean Dotson', 'Paul George', 'Carmelo Anthony', 'Steven Adams', 'Andre Roberson', 'Russell Westbrook', 'Alex Abrines', 'Jerami Grant', 'Terrance Ferguson', 'Raymond Felton', 'Patrick Patterson', 'Dakari Johnson', 'Josh Huestis', 'Nick Collison']

In [59]:
away_city
away_player_count

13

In [60]:
#Setup dicts with the sub categories
newDict = dict()
something = statsDF.T.to_dict().values()
pos = ''
for index, i in enumerate(something):
    if index % 2 != 0:
        newDict[index] = i
        newDict[index]['POS'] = pos
    else:
        if i['FGM'] == 'nan':
            continue
        else:
            pos = i['FGM']


finalStats = pd.DataFrame.from_dict(newDict,orient='index')
#finalStats.index = mainDFIndex
finalStats.drop(['+/-'], axis=1, inplace=True)
finalStats = finalStats.rename(columns={'PLAYER':'MIN','MIN':'FGM', 'FGM':'FGA', 'FGA':'FG%', 'FG%':'3PM', '3PM':'3PA', '3PA':'3P%', '3P%':'FTM', 'FTM':'FTA', 'FTA':'FT%', 'FT%':'OREB', 'OREB':'DREB', 'DREB':'REB', 'REB':'AST', 'AST':'TOV', 'TOV':'BLK', 'BLK':'PF', 'PF':'PTS', 'PTS':'+/-'})
player_count = len(finalStats.index)
teams_list = ((away_city[0] + " ") * away_player_count) + ((home_city[0] + " ") * (player_count - away_player_count))
teams_list = teams_list.split()
opponent_list = ((home_city[0] + " ") * away_player_count) + ((away_city[0] + " ") * (player_count - away_player_count))
opponent_list = opponent_list.split()
finalStats['Player'] = mainDFIndex
finalStats['TEAM'] = teams_list
finalStats['OPPONENT'] = opponent_list
#This will replace the nan's with DNP
finalStats = finalStats.fillna('NA')

In [61]:
#GAMES CELL: This prepares the games section into a dataframe
#Passing in csv file and getting rid of the unused rows
gamesDF = pd.read_csv('games.csv', header= None, names=['a','b','c','d','e','f','g','h','i'], index_col=False, error_bad_lines=False, delim_whitespace=True)
gamesDF.columns = [col.replace(',', '') for col in gamesDF.columns]
#if you want to operate on multiple columns, put them in a list like so:
games_cols = ['a','b','c','d','e','f','g','h','i']
# pass them to df.replace(), specifying each char and it's replacement:
gamesDF[games_cols] = gamesDF[games_cols].replace({'\$': '', ',': ''}, regex=True)
# This will add the winner to column b of each 26th row
for index, row in gamesDF.iterrows():
    if index % 26 == 0 or index == 0:
        if int(gamesDF['a'].iloc[index+4]) > int(gamesDF['a'].iloc[index + 8]):
            gamesDF['b'].iloc[index] = gamesDF['a'].iloc[index + 1]
        else:
            gamesDF['b'].iloc[index] = gamesDF['a'].iloc[index + 5]
    else:
        pass

In [62]:
#This cell will arrange the gamesDF into the actual formatted games dataframe, newGamesDF
#Setting up the index on the main stats dataframe
dateIndex = []
month = ['OCT', 'NOV', 'DEC', 'JAN', 'FEB']
for index, row in gamesDF.iterrows():
    for i in month:
        if gamesDF.iloc[index][0] == i:
            dateIndex.append(gamesDF.iloc[9,0] + " " + gamesDF.iloc[9,1][1] + ", " + gamesDF.iloc[9,2])
#The next lines will pull the data from the cells in the gamesDF and into the newGamesDF dataframe
gamesData = []
games = 0
for index, row in gamesDF.iterrows():
    if index == 0 or index % 26 == 0:
        gamesData.append(gamesDF.iloc[index+11,0])
        gamesData.append(gamesDF.iloc[index+12,0])
        gamesData.append(gamesDF.iloc[index,1])
        gamesData.append(gamesDF.iloc[index+11,1])
        gamesData.append(gamesDF.iloc[index+11,2])
        gamesData.append(gamesDF.iloc[index+11,3])
        gamesData.append(gamesDF.iloc[index+11,4])
        gamesData.append(gamesDF.iloc[index+12,1])
        gamesData.append(gamesDF.iloc[index+12,2])
        gamesData.append(gamesDF.iloc[index+12,3])
        gamesData.append(gamesDF.iloc[index+12,4])
        gamesData.append(gamesDF.iloc[index+8,0])
        gamesData.append(gamesDF.iloc[index+4,0])
        gamesData.append(gamesDF.iloc[index+22,2])
        gamesData.append(gamesDF.iloc[index+22,4])
        gamesData.append(gamesDF.iloc[index+22,6])
        games += 1
        
gamesData = np.array(gamesData)
gamesData = gamesData.reshape(games,16)
#Create an empty dataframe, based on the games date as the index
newGamesDF = pd.DataFrame(data = gamesData, columns=['Home','Away','W/L','1st Qtr H','2nd Qtr H','3rd Qtr H','4th Qtr H','1st Qtr A','2nd Qtr A','3rd Qtr A','4th Qtr A','Total H','Total A', 'Ref1','Ref2','Ref3'])
newGamesDF

,Home,Away,W/L,1st Qtr H,2nd Qtr H,3rd Qtr H,4th Qtr H,1st Qtr A,2nd Qtr A,3rd Qtr A,4th Qtr A,Total H,Total A,Ref1,Ref2,Ref3
0,NYK,OKC,OKLAHOMA,24,18,17,25,27,26,26,26,105,84,"Capers""""","Buchert""""",Ford

In [63]:
for index,row in finalStats.iterrows():
    finalStats['1st Qtr H'] = newGamesDF['1st Qtr H'][0]
    finalStats['2nd Qtr H'] = newGamesDF['2nd Qtr H'][0]
    finalStats['3rd Qtr H'] = newGamesDF['3rd Qtr H'][0]
    finalStats['4th Qtr H'] = newGamesDF['4th Qtr H'][0]
    finalStats['1st Qtr A'] = newGamesDF['1st Qtr A'][0]
    finalStats['2nd Qtr A'] = newGamesDF['2nd Qtr A'][0]
    finalStats['3rd Qtr A'] = newGamesDF['3rd Qtr A'][0]
    finalStats['4th Qtr A'] = newGamesDF['4th Qtr A'][0]
    finalStats['Total H'] = newGamesDF['Total H'][0]
    finalStats['Total A'] = newGamesDF['Total A'][0]
    finalStats['Ref1'] = newGamesDF['Ref1'][0]
    finalStats['Ref2'] = newGamesDF['Ref2'][0]
    finalStats['Ref3'] = newGamesDF['Ref3'][0]
    finalStats['W/L'] = newGamesDF['W/L'][0]
    finalStats['Home'] = newGamesDF['Home'][0]
    finalStats['Away'] = newGamesDF['Away'][0]

In [64]:
#This function will calculate the projected fantasy points per game
def fantasy_points(row):
    try:
        score = (int(row['3PM']) * 3) + (int(row['FGM']) * 2) + (int(row['REB']) * 1) + (int(row['AST']) * 1.5) + (int(row['BLK']) * 3) + (int(row['STL']) * 3) + (int(row['TOV']) * -1)
        return score
    except:
        pass

finalStats['Fantasy Score'] = finalStats.apply(fantasy_points, axis=1)
finalStats = finalStats.fillna('NA')

In [65]:
finalStats['Player']

1           Tim Hardaway
3     Kristaps Porzingis
5            Enes Kanter
7           Courtney Lee
9         Ramon Sessions
11          Lance Thomas
13             Ron Baker
15        Doug McDermott
17       Michael Beasley
19          Kyle O'Quinn
21       Frank Ntilikina
23     Willy Hernangomez
25        Damyean Dotson
27           Paul George
29       Carmelo Anthony
31          Steven Adams
33        Andre Roberson
35     Russell Westbrook
37          Alex Abrines
39          Jerami Grant
41     Terrance Ferguson
43        Raymond Felton
45     Patrick Patterson
47        Dakari Johnson
49          Josh Huestis
51         Nick Collison
Name: Player, dtype: object