In [4]:
import pandas as pd
import numpy as np

In [21]:
#STATS CELL: This prepares the stats section into a dataframe
#Passing in csv file and getting rid of the unused rows
statsDF = pd.read_csv('stats.csv', delim_whitespace=True)
statsDF.columns = [col.replace(',', '') for col in statsDF.columns]
# if you want to operate on multiple columns, put them in a list like so:
cols = ['PLAYER', 'MIN', 'FGM','FGA', 'FG%', '3PM', '3PA','3P%','FTM','FTA','FT%','OREB','DREB','REB','AST','TOV','STL','BLK','PF','PTS','+/-']
# pass them to df.replace(), specifying each char and it's replacement:
statsDF[cols] = statsDF[cols].replace({'\$': '', ',': ''}, regex=True)
#Remove columns for team name, totals, and the word 'player'
statsDF = statsDF[statsDF.PLAYER != 'PLAYER']
statsDF = statsDF[statsDF.PLAYER != 'Totals:']
statsDF = statsDF[statsDF.PLAYER != 'Cleveland']
statsDF = statsDF[statsDF.PLAYER != 'BOS:']
statsDF = statsDF[statsDF.PLAYER != 'CLE:']
#Reset Index
statsDF = statsDF.reset_index(drop=True)

In [28]:
#GAMES CELL: This prepares the games section into a dataframe
#Passing in csv file and getting rid of the unused rows
gamesDF = pd.read_csv('game.csv', header= None, names=['a','b','c','d','e','f','g','h','i'], index_col=False, error_bad_lines=False, delim_whitespace=True)
gamesDF.columns = [col.replace(',', '') for col in gamesDF.columns]
# if you want to operate on multiple columns, put them in a list like so:
#cols = ['PLAYER', 'MIN', 'FGM','FGA', 'FG%', '3PM', '3PA','3P%','FTM','FTA','FT%','OREB','DREB','REB','AST','TOV','STL','BLK','PF','PTS','+/-']
# pass them to df.replace(), specifying each char and it's replacement:
#gamesDF['FINAL'] = gamesDF['FINAL'].replace({'\$': '', ',': ''}, regex=True)

In [29]:
gamesDF

,a,b,c,d,e,f,g,h,i
0,"F,I,N,A,L",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"B,O,S,T,O,N,",",C,E,L,T,I,C,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"0,-,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"L,I,N,E,U,P,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"9,9",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"C,L,E,V,E,L,A,N,D,",",C,A,V,A,L,I,E,R,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"1,-,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"L,I,N,E,U,P,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"1,0,2",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"O,C,T,",",1,7,"","",",",2,0,1,7",NaN,NaN,NaN,NaN,NaN,NaN
10,"Q,1,",",Q,2,",",Q,3,",",Q,4,",",F,i,n,a,l",NaN,NaN,NaN,NaN
11,"B,O,S,",",1,9,",",1,9,",",3,3,",",2,8,",",9,9",NaN,NaN,NaN
12,"C,L,E,",",2,9,",",2,5,",",1,8,",",3,0,",",1,0,2",NaN,NaN,NaN
13,"P,I,T,P,",",2,N,D,",",P,T,S,",",F,B,P,S,",",B,I,G,",",L,D,",",T,M,",",R,E,B,",",T,M,"
14,"4,2,",",2,",",1,6,",",4,",",6,",",2,",",1,2,",",1,3",NaN
15,"5,0,",",1,6,",",1,1,",",1,8,",",5,",",0,",",1,7,",",2,4",NaN
16,"L,E,A,D,",",C,H,A,N,G,E,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"1,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"T,I,M,E,S,",",T,I,E,D",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"G,A,M,E,T,I,M,E,:,",",2,:,2,8",NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"A,T,T,E,N,D,A,N,C,E,:,",",2,0,"","",5,6,2",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"O,F,F,I,C,I,A,L,S,:,",",M,o,n,t,y,",",M,c,C,u,t,c,h,e,n,"","",",",M,i,c,h,a,e,l,",",S,m,i,t,h,"","",",",B,r,i,a,n,",",F,o,r,t,e",NaN,NaN
23,",W,A,T,C,H,",",H,I,G,H,L,I,G,H,T,S",NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"N,B,A,",",L,E,A,G,U,E,",",P,A,S,S",NaN,NaN,NaN,NaN,NaN,NaN
25,"G,A,M,E,B,O,O,K",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
#Setting up the index on the main dataframe
mainDFIndex = []
for index, row in statsDF.iterrows():
    if index % 2 == 0 and index != 50:
        mainDFIndex.append(str(row['PLAYER']) + " " + str(row['MIN']))
print(mainDFIndex)

['Gordon Hayward', 'Jayson Tatum', 'Al Horford', 'Jaylen Brown', 'Kyrie Irving', 'Marcus Smart', 'Aron Baynes', 'Semi Ojeleye', 'Terry Rozier', 'Shane Larkin', 'Abdel Nader', 'Daniel Theis', 'LeBron James', 'Jae Crowder', 'Kevin Love', 'Dwyane Wade', 'Derrick Rose', 'Tristan Thompson', 'JR Smith', 'Iman Shumpert', 'Jeff Green', 'Kyle Korver', 'Jose Calderon', 'Channing Frye', 'Cedi Osman']

In [63]:
#Setup dicts with the sub categories
newDict = dict()
something = statsDF.T.to_dict().values()
for index, i in enumerate(something):
    if index % 2 != 0:
        newDict[index] = i

In [85]:
#put them in dataframe, index it with the main index, drop nan columns, rename the columns to their proper categories
finalStats = pd.DataFrame.from_dict(newDict,orient='index')
finalStats.index = mainDFIndex
finalStats.drop(['+/-'], axis=1, inplace=True)
finalStats = finalStats.rename(columns={'PLAYER':'MIN','MIN':'FGM', 'FGM':'FGA', 'FGA':'FG%', 'FG%':'3PM', '3PM':'3PA', '3PA':'3P%', '3P%':'FTM', 'FTM':'FTA', 'FTA':'FT%', 'FT%':'REB', 'REB':'DREB', 'DREB':'REB', 'REB':'AST', 'AST':'TOV', 'TOV':'BLK', 'BLK':'PF', 'PF':'PTS', 'PTS':'+/-'})
finalStats

,TOV,PF,+/-,REB,FTA,STL,FGA,BLK,FGM,FT%,FG%,OREB,REB,PTS,AST,3PM,3P%,MIN,FTM,3PA
Gordon Hayward,0,1,3,0,0,0,2,0,1,0.0,50.0,1,1,2,0,0,0.0,5:15,0,1
Jayson Tatum,1,4,6,4,3,0,12,0,5,100,41.7,6,10,14,3,1,50.0,36:32,3,2
Al Horford,0,2,8,0,7,1,7,0,2,71.4,28.6,7,7,9,5,0,0.0,32:07,5,2
Jaylen Brown,3,5,-5,1,2,0,23,2,11,50.0,47.8,5,6,25,0,2,22.2,39:36,1,9
Kyrie Irving,2,4,-1,2,2,0,17,3,8,100,47.1,2,4,22,10,4,44.4,39:21,2,9
Marcus Smart,2,2,-8,0,3,2,16,2,5,66.7,31.3,9,9,12,3,0,0.0,35:03,2,4
Aron Baynes,2,5,-14,2,4,1,2,0,2,50.0,100,3,5,6,1,0,0.0,19:06,2,0
Semi Ojeleye,0,1,-10,0,0,0,2,0,0,0.0,0.0,0,0,0,0,0,0.0,8:39,0,1
Terry Rozier,0,0,4,0,4,0,6,4,2,100,33.3,3,3,9,2,1,33.3,19:32,4,3
Shane Larkin,0,0,2,0,0,0,1,0,0,0.0,0.0,1,1,0,0,0,0.0,4:49,0,1
Abdel Nader,NaN,NaN,NaN,NaN,NaN,NaN,COACH'S,NaN,-,NaN,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,DNP,NaN,NaN
Daniel Theis,NaN,NaN,NaN,NaN,NaN,NaN,COACH'S,NaN,-,NaN,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,DNP,NaN,NaN
LeBron James,4,3,2,1,4,2,19,0,12,100,63.2,15,16,29,9,1,20.0,41:12,4,5
Jae Crowder,1,2,7,1,4,0,10,2,3,100,30.0,4,5,11,2,1,20.0,34:44,4,5
Kevin Love,2,2,1,3,7,0,9,0,4,85.7,44.4,8,11,15,0,1,25.0,28:24,6,4
Dwyane Wade,4,1,0,1,2,2,10,0,3,100,30.0,1,2,8,3,0,0.0,28:30,2,1
Derrick Rose,2,2,-7,1,4,0,14,0,5,75.0,35.7,3,4,14,2,1,33.3,31:15,3,3
Tristan Thompson,2,3,2,1,3,0,3,0,2,33.3,66.7,5,6,5,2,0,0.0,19:36,1,0
JR Smith,0,4,7,0,1,0,7,0,4,100,57.1,4,4,10,1,1,33.3,21:55,1,3
Iman Shumpert,1,3,6,1,0,0,3,1,2,0.0,66.7,1,2,4,0,0,0.0,12:51,0,0
Jeff Green,1,3,-2,0,0,0,8,0,3,0.0,37.5,0,0,6,0,0,0.0,14:14,0,1
Kyle Korver,0,2,-1,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,7:19,0,0
Jose Calderon,NaN,NaN,NaN,NaN,NaN,NaN,COACH'S,NaN,-,NaN,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,DNP,NaN,NaN
Channing Frye,NaN,NaN,NaN,NaN,NaN,NaN,COACH'S,NaN,-,NaN,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,DNP,NaN,NaN
Cedi Osman,NaN,NaN,NaN,NaN,NaN,NaN,COACH'S,NaN,-,NaN,DECISION,NaN,NaN,NaN,NaN,NaN,NaN,DNP,NaN,NaN