In [134]:
import pandas as pd
import math
import numpy as np
import itertools

In [2]:
#statsDF - initial stats dataframe
#gamesDF - initial games dataframe
#newGamesDF - formatted games dataframe with game date as index and rest of record in one row
#finalStats - formatted stats dataframe with player's name as the index
#mainDF: The dataframe where the main analysis will take place.

In [184]:
stats = '/home/acer/github/nba/stats.csv'
games = '/home/acer/github/nba/games.csv'

In [185]:
#Dump the stats dataframe into a csv and clean it up
cols = ['PLAYER', 'MIN', 'FGM','FGA', 'FG%', '3PM', '3PA','3P%','FTM','FTA','FT%','OREB','DREB','REB','AST','TOV','STL','BLK','PF','PTS','+/-']
statsDF = pd.read_csv(stats, header= None, names=cols, index_col=False, error_bad_lines=False, delim_whitespace=True)
statsDF[cols] = statsDF[cols].replace({'\$': '', ',': ''}, regex=True)

In [186]:
#The nba.com site changed its formatting so this is to remove non-existent rows
new_format_mask = 0
for index, row in statsDF.iterrows():
    if new_format_mask == 1:
        statsDF.drop(index, inplace=True)
        if row.iloc[0] == 'Totals:' and math.isnan(row.iloc[1]) == True:
            new_format_mask = 0 
        else:
            continue
    else:
        if row.iloc[0] == 'PLAYER' and row.iloc[1] != "MIN":
            new_format_mask += 1
        else:
            continue
for index, row in statsDF.iterrows():
    if row.iloc[0][3:4] == ":":
        statsDF.drop(index, inplace=True)

In [187]:
statsDF = statsDF[statsDF.PLAYER != 'PLAYER']
statsDF = statsDF[statsDF.PLAYER != 'Totals:']
statsDF = statsDF[statsDF.PLAYER != 'INACTIVE']
statsDF = statsDF.reset_index(drop=True)

In [192]:
statsDF[20:80]

,PLAYER,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,+/-
20,Meyers,Leonard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Caleb,Swanigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Khris,Middleton,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,29:50,6,13,46.2,0,1,0.0,6,6,100,...,7,7,3,2,0,0,5,18,1,NaN
24,Giannis,Antetokounmpo,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,39:27,17,23,73.9,1,4,25.0,9,13,69.2,...,6,8,4,2,2,2,3,44,3,NaN
26,Thon,Maker,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,18:18,0,3,0.0,0,2,0.0,3,4,75.0,...,3,3,2,2,1,1,5,3,-6,NaN
28,Tony,Snell,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,34:29,7,8,87.5,3,4,75.0,0,0,0.0,...,1,2,1,2,1,0,1,17,-3,NaN
30,Malcolm,Brogdon,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,30:59,5,14,35.7,0,0,0.0,3,4,75.0,...,0,1,6,2,4,0,2,13,5,NaN
32,DeAndre,Liggins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,18:24,0,2,0.0,0,1,0.0,0,0,0.0,...,1,1,0,1,0,1,1,0,10,NaN
34,Mirza,Teletovic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,16:51,3,4,75.0,3,4,75.0,0,0,0.0,...,2,2,0,0,1,1,2,9,3,NaN
36,Greg,Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,6:44,0,3,0.0,0,0,0.0,0,0,0.0,...,0,0,0,0,0,0,0,0,-3,NaN
38,Matthew,Dellavedova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,16:01,1,5,20.0,0,2,0.0,0,1,0.0,...,2,2,4,1,0,0,0,2,-1,NaN
40,Jason,Terry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,4:59,0,0,0.0,0,0,0.0,0,0,0.0,...,0,0,2,0,0,0,0,0,-5,NaN
42,John,Henson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,23:58,3,5,60.0,0,0,0.0,1,2,50.0,...,6,9,0,2,0,3,4,7,11,NaN
44,Sterling,Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
home_city = []
flag = 0
away_player_count = 0
for index,row in statsDF.iterrows():
    if index == 26 and flag == 0:
        flag = 1
    else:
        if row[0] == 'DNP' or row[0] == 'NWT':
            flag = 1
        else:
            if statsDF.iloc[index + 1][0] == 'DNP' or statsDF.iloc[index + 1][0] == 'NWT':
                continue
            elif flag == 1:
                home_city.append(row[0])
                if index % 2 == 0:
                    home_city.append(statsDF.iloc[-1][0])
                    away_city = [statsDF.iloc[0][0],statsDF.iloc[-2][0]]
                    statsDF = statsDF[statsDF.PLAYER != home_city[1]]
                    statsDF = statsDF[statsDF.PLAYER != away_city[0]]
                    statsDF = statsDF[statsDF.PLAYER != away_city[1]]
                    statsDF = statsDF.reset_index(drop=True)
                    away_player_count = int(statsDF.index[index] / 2)
                    break
                else:
                    home_city.append(statsDF.iloc[-1][0])
                    away_city = [statsDF.iloc[0][0],statsDF.iloc[-2][0]]
                    statsDF = statsDF[statsDF.PLAYER != home_city[0]]
                    statsDF = statsDF[statsDF.PLAYER != home_city[1]]
                    statsDF = statsDF[statsDF.PLAYER != away_city[0]]
                    statsDF = statsDF[statsDF.PLAYER != away_city[1]]
                    statsDF = statsDF.reset_index(drop=True)
                    away_player_count = int(statsDF.index[index] / 2)
                    break
            else:
                continue

In [163]:
#Setting up the index on the main stats dataframe
mainDFIndex = []
for index, row in statsDF.iterrows():
    if row.iloc[0].isalpha() == True and row.iloc[1].isalpha() == True:
        mainDFIndex.append(str(row['PLAYER']) + " " + str(row['MIN']))
print(mainDFIndex)

['Maurice Harkless', 'Jusuf Nurkic', 'CJ McCollum', 'Damian Lillard', 'Pat Connaughton', 'Evan Turner', 'Ed Davis', 'Shabazz Napier', 'Zach Collins', 'Jake Layman', 'Meyers Leonard', 'Caleb Swanigan', 'Khris Middleton', 'Giannis Antetokounmpo', 'Thon Maker', 'Tony Snell', 'Malcolm Brogdon', 'DeAndre Liggins', 'Mirza Teletovic', 'Greg Monroe', 'Matthew Dellavedova', 'Jason Terry', 'John Henson', 'Sterling Brown']

In [190]:
#Setup dicts with the sub categories
newDict = dict()
something = statsDF.T.to_dict().values()
pos = ''
for index, i in enumerate(something):
    if i["PF"]  math.isnan(row.iloc[1]) == True

SyntaxError: invalid syntax (<ipython-input-190-56cda868e502>, line 6)

In [167]:


finalStats = pd.DataFrame.from_dict(newDict,orient='index')
finalStats.index = mainDFIndex
finalStats.drop(['+/-'], axis=1, inplace=True)
finalStats = finalStats.rename(columns={'PLAYER':'MIN','MIN':'FGM', 'FGM':'FGA', 'FGA':'FG%', 'FG%':'3PM', '3PM':'3PA', '3PA':'3P%', '3P%':'FTM', 'FTM':'FTA', 'FTA':'FT%', 'FT%':'OREB', 'OREB':'DREB', 'DREB':'REB', 'REB':'AST', 'AST':'TOV', 'TOV':'BLK', 'BLK':'PF', 'PF':'PTS', 'PTS':'+/-'})
player_count = len(finalStats.index)
teams_list = ((away_city[0] + " ") * away_player_count) + ((home_city[0] + " ") * (player_count - away_player_count))
teams_list = teams_list.split()
opponent_list = ((home_city[0] + " ") * away_player_count) + ((away_city[0] + " ") * (player_count - away_player_count))
opponent_list = opponent_list.split()
finalStats['Player'] = mainDFIndex
finalStats['TEAM'] = teams_list
finalStats['OPPONENT'] = opponent_list
#This will replace the nan's with DNP
finalStats = finalStats.fillna('NA')

ValueError: Length mismatch: Expected axis has 22 elements, new values have 24 elements

In [146]:
#GAMES CELL: This prepares the games section into a dataframe
#Passing in csv file and getting rid of the unused rows
gamesDF = pd.read_csv(games, header= None, names=['a','b','c','d','e','f','g','h','i'], index_col=False, error_bad_lines=False, delim_whitespace=True)
gamesDF.columns = [col.replace(',', '') for col in gamesDF.columns]
#if you want to operate on multiple columns, put them in a list like so:
games_cols = ['a','b','c','d','e','f','g','h','i']
# pass them to df.replace(), specifying each char and it's replacement:
gamesDF[games_cols] = gamesDF[games_cols].replace({'\$': '', ',': ''}, regex=True)
# This will add the winner to column b of each 26th row
for index, row in gamesDF.iterrows():
    if index % 26 == 0 or index == 0:
        if int(gamesDF['a'].iloc[index+4]) > int(gamesDF['a'].iloc[index + 8]):
            gamesDF['b'].iloc[index] = gamesDF['a'].iloc[index + 1]
        else:
            gamesDF['b'].iloc[index] = gamesDF['a'].iloc[index + 5]
    else:
        pass

In [147]:
#This cell will arrange the gamesDF into the actual formatted games dataframe, newGamesDF
#Setting up the index on the main stats dataframe
dateIndex = []
month = ['OCT', 'NOV', 'DEC', 'JAN', 'FEB']
for index, row in gamesDF.iterrows():
    for i in month:
        if gamesDF.iloc[index][0] == i:
            dateIndex.append(gamesDF.iloc[9,0] + " " + gamesDF.iloc[9,1][1] + ", " + gamesDF.iloc[9,2])
#The next lines will pull the data from the cells in the gamesDF and into the newGamesDF dataframe
gamesData = []
games = 0
for index, row in gamesDF.iterrows():
    if index == 0 or index % 26 == 0:
        gamesData.append(gamesDF.iloc[index+11,0])
        gamesData.append(gamesDF.iloc[index+12,0])
        gamesData.append(gamesDF.iloc[index,1])
        gamesData.append(gamesDF.iloc[index+11,1])
        gamesData.append(gamesDF.iloc[index+11,2])
        gamesData.append(gamesDF.iloc[index+11,3])
        gamesData.append(gamesDF.iloc[index+11,4])
        gamesData.append(gamesDF.iloc[index+12,1])
        gamesData.append(gamesDF.iloc[index+12,2])
        gamesData.append(gamesDF.iloc[index+12,3])
        gamesData.append(gamesDF.iloc[index+12,4])
        gamesData.append(gamesDF.iloc[index+8,0])
        gamesData.append(gamesDF.iloc[index+4,0])
        gamesData.append(gamesDF.iloc[index+22,2])
        gamesData.append(gamesDF.iloc[index+22,4])
        gamesData.append(gamesDF.iloc[index+22,6])
        games += 1
        
gamesData = np.array(gamesData)
gamesData = gamesData.reshape(games,16)
#Create an empty dataframe, based on the games date as the index
newGamesDF = pd.DataFrame(data = gamesData, columns=['Home','Away','W/L','1st Qtr H','2nd Qtr H','3rd Qtr H','4th Qtr H','1st Qtr A','2nd Qtr A','3rd Qtr A','4th Qtr A','Total H','Total A', 'Ref1','Ref2','Ref3'])
newGamesDF

,Home,Away,W/L,1st Qtr H,2nd Qtr H,3rd Qtr H,4th Qtr H,1st Qtr A,2nd Qtr A,3rd Qtr A,4th Qtr A,Total H,Total A,Ref1,Ref2,Ref3
0,POR,MIL,MILWAUKEE,26,29,25,30,24,36,24,29,113,110,"Zarba""""","Barnaky""""",Voyard-Tadal

In [148]:
for index,row in finalStats.iterrows():
    finalStats['1st Qtr H'] = newGamesDF['1st Qtr H'][0]
    finalStats['2nd Qtr H'] = newGamesDF['2nd Qtr H'][0]
    finalStats['3rd Qtr H'] = newGamesDF['3rd Qtr H'][0]
    finalStats['4th Qtr H'] = newGamesDF['4th Qtr H'][0]
    finalStats['1st Qtr A'] = newGamesDF['1st Qtr A'][0]
    finalStats['2nd Qtr A'] = newGamesDF['2nd Qtr A'][0]
    finalStats['3rd Qtr A'] = newGamesDF['3rd Qtr A'][0]
    finalStats['4th Qtr A'] = newGamesDF['4th Qtr A'][0]
    finalStats['Total H'] = newGamesDF['Total H'][0]
    finalStats['Total A'] = newGamesDF['Total A'][0]
    finalStats['Ref1'] = newGamesDF['Ref1'][0]
    finalStats['Ref2'] = newGamesDF['Ref2'][0]
    finalStats['Ref3'] = newGamesDF['Ref3'][0]
    finalStats['W/L'] = newGamesDF['W/L'][0]
    finalStats['Home'] = newGamesDF['Home'][0]
    finalStats['Away'] = newGamesDF['Away'][0]

In [149]:
#This function will calculate the projected fantasy points per game
def fantasy_points(row):
    try:
        score = (int(row['3PM']) * 3) + (int(row['FGM']) * 2) + (int(row['REB']) * 1) + (int(row['AST']) * 1.5) + (int(row['BLK']) * 3) + (int(row['STL']) * 3) + (int(row['TOV']) * -1)
        return score
    except:
        pass

finalStats['Fantasy Score'] = finalStats.apply(fantasy_points, axis=1)
finalStats = finalStats.fillna('NA')

In [150]:
finalStats['Player']

KeyError: 'Player'

In [156]:
len(newDict)

22

In [179]:
statsDF

,PLAYER,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,PTS,+/-
0,Maurice,Harkless,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37:50,5,10,50.0,2,4,50.0,1,2,50.0,...,3,3,0,1,3,0,3,13,1,NaN
2,Al-Farouq,Aminu,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25:35,1,7,14.3,1,3,33.3,2,2,100,...,5,6,2,0,0,1,1,5,-1,NaN
4,Jusuf,Nurkic,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,31:58,7,17,41.2,0,1,0.0,3,4,75.0,...,6,11,3,2,0,3,1,17,-7,NaN
6,CJ,McCollum,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,37:03,9,18,50.0,3,6,50.0,5,5,100,...,3,3,1,2,2,0,2,26,1,NaN
8,Damian,Lillard,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,34:27,6,15,40.0,3,6,50.0,11,12,91.7,...,3,5,4,6,4,0,5,26,-5,NaN
10,Pat,Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18:31,1,4,25.0,1,3,33.3,0,0,0.0,...,0,0,1,2,0,0,1,3,-2,NaN
12,Evan,Turner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,32:27,3,7,42.9,1,4,25.0,4,4,100,...,2,2,7,2,1,0,5,11,-4,NaN
14,Ed,Davis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16:02,1,1,100,0,0,0.0,4,4,100,...,7,11,0,1,0,2,4,6,4,NaN
16,Shabazz,Napier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6:07,1,2,50.0,0,1,0.0,1,2,50.0,...,0,1,0,0,0,0,0,3,-2,NaN
18,Zach,Collins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Jake,Layman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Meyers,Leonard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Caleb,Swanigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Khris,Middleton,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,29:50,6,13,46.2,0,1,0.0,6,6,100,...,7,7,3,2,0,0,5,18,1,NaN
24,Giannis,Antetokounmpo,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,39:27,17,23,73.9,1,4,25.0,9,13,69.2,...,6,8,4,2,2,2,3,44,3,NaN
26,Thon,Maker,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,18:18,0,3,0.0,0,2,0.0,3,4,75.0,...,3,3,2,2,1,1,5,3,-6,NaN
28,Tony,Snell,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,34:29,7,8,87.5,3,4,75.0,0,0,0.0,...,1,2,1,2,1,0,1,17,-3,NaN
30,Malcolm,Brogdon,G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,30:59,5,14,35.7,0,0,0.0,3,4,75.0,...,0,1,6,2,4,0,2,13,5,NaN
32,DeAndre,Liggins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,18:24,0,2,0.0,0,1,0.0,0,0,0.0,...,1,1,0,1,0,1,1,0,10,NaN
34,Mirza,Teletovic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,16:51,3,4,75.0,3,4,75.0,0,0,0.0,...,2,2,0,0,1,1,2,9,3,NaN
36,Greg,Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,6:44,0,3,0.0,0,0,0.0,0,0,0.0,...,0,0,0,0,0,0,0,0,-3,NaN
38,Matthew,Dellavedova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,16:01,1,5,20.0,0,2,0.0,0,1,0.0,...,2,2,4,1,0,0,0,2,-1,NaN
40,Jason,Terry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,4:59,0,0,0.0,0,0,0.0,0,0,0.0,...,0,0,2,0,0,0,0,0,-5,NaN
42,John,Henson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,23:58,3,5,60.0,0,0,0.0,1,2,50.0,...,6,9,0,2,0,3,4,7,11,NaN
44,Sterling,Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN