In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
#statsDF - initial stats dataframe
#gamesDF - initial games dataframe
#newGamesDF - formatted games dataframe with game date as index and rest of record in one row
#finalStats - formatted stats dataframe with player's name as the index
#mainDF: The dataframe where the main analysis will take place.

In [3]:
#Dump the stats dataframe into a csv and clean it up
cols = ['PLAYER', 'MIN', 'FGM','FGA', 'FG%', '3PM', '3PA','3P%','FTM','FTA','FT%','OREB','DREB','REB','AST','TOV','STL','BLK','PF','PTS','+/-']
statsDF = pd.read_csv('stats.csv', header= None, names=cols, index_col=False, error_bad_lines=False, delim_whitespace=True)
statsDF[cols] = statsDF[cols].replace({'\$': '', ',': ''}, regex=True)

In [4]:
statsDF = statsDF[statsDF.PLAYER != 'PLAYER']
statsDF = statsDF[statsDF.PLAYER != 'Totals:']
statsDF = statsDF[statsDF.PLAYER != 'INACTIVE']
statsDF = statsDF.reset_index(drop=True)

In [5]:
home_city = []
flag = 0
away_player_count = 0
for index,row in statsDF.iterrows():
    if row[0] == 'DNP':
        flag = 1
    else:
        if statsDF.iloc[index + 1][0] == 'DNP':
            continue
        elif flag == 1:
            home_city.append(row[0])
            if index % 2 == 0:
                home_city.append(statsDF.iloc[-1][0])
                away_city = [statsDF.iloc[0][0],statsDF.iloc[-2][0]]
                statsDF = statsDF[statsDF.PLAYER != home_city[1]]
                statsDF = statsDF[statsDF.PLAYER != away_city[0]]
                statsDF = statsDF[statsDF.PLAYER != away_city[1]]
                statsDF = statsDF.reset_index(drop=True)
                away_player_count = statsDF.index[index] / 2
                break
            else:
                home_city.append(statsDF.iloc[-1][0])
                away_city = [statsDF.iloc[0][0],statsDF.iloc[-2][0]]
                statsDF = statsDF[statsDF.PLAYER != home_city[0]]
                statsDF = statsDF[statsDF.PLAYER != home_city[1]]
                statsDF = statsDF[statsDF.PLAYER != away_city[0]]
                statsDF = statsDF[statsDF.PLAYER != away_city[1]]
                statsDF = statsDF.reset_index(drop=True)
                away_player_count = int(statsDF.index[index] / 2)
                break
        else:
            continue

In [6]:
#Setting up the index on the main stats dataframe
mainDFIndex = []
for index, row in statsDF.iterrows():
    if index % 2 == 0:
        mainDFIndex.append(str(row['PLAYER']) + " " + str(row['MIN']))
print(mainDFIndex)

['Gordon Hayward', 'Jayson Tatum', 'Al Horford', 'Jaylen Brown', 'Kyrie Irving', 'Marcus Smart', 'Aron Baynes', 'Semi Ojeleye', 'Terry Rozier', 'Shane Larkin', 'Abdel Nader', 'Daniel Theis', 'LeBron James', 'Jae Crowder', 'Kevin Love', 'Dwyane Wade', 'Derrick Rose', 'Tristan Thompson', 'JR Smith', 'Iman Shumpert', 'Jeff Green', 'Kyle Korver', 'Jose Calderon', 'Channing Frye', 'Cedi Osman']

In [9]:
#Setup dicts with the sub categories
newDict = dict()
something = statsDF.T.to_dict().values()
pos = ''
for index, i in enumerate(something):
    if index % 2 != 0:
        newDict[index] = i
        newDict[index]['POS'] = pos
    else:
        if i['FGM'] == 'nan':
            continue
        else:
            pos = i['FGM']


finalStats = pd.DataFrame.from_dict(newDict,orient='index')
#finalStats.index = mainDFIndex
finalStats.drop(['+/-'], axis=1, inplace=True)
finalStats = finalStats.rename(columns={'PLAYER':'MIN','MIN':'FGM', 'FGM':'FGA', 'FGA':'FG%', 'FG%':'3PM', '3PM':'3PA', '3PA':'3P%', '3P%':'FTM', 'FTM':'FTA', 'FTA':'FT%', 'FT%':'OREB', 'OREB':'DREB', 'DREB':'REB', 'REB':'AST', 'AST':'TOV', 'TOV':'BLK', 'BLK':'PF', 'PF':'PTS', 'PTS':'+/-'})
player_count = len(finalStats.index)
teams_list = ((away_city[0] + " ") * away_player_count) + ((home_city[0] + " ") * (player_count - away_player_count))
teams_list = teams_list.split()
opponent_list = ((home_city[0] + " ") * away_player_count) + ((away_city[0] + " ") * (player_count - away_player_count))
opponent_list = opponent_list.split()
finalStats['Player'] = mainDFIndex
finalStats['TEAM'] = teams_list
finalStats['OPPONENT'] = opponent_list
#This will replace the nan's with DNP
finalStats = finalStats.fillna('NA')

In [10]:
finalStats

,FG%,AST,TOV,OREB,PF,STL,3PA,FTA,3P%,+/-,...,FGM,MIN,BLK,FGA,PTS,3PM,REB,Player,TEAM,OPPONENT
1,50.0,0,0,0,1,0,1,0,0.0,3,...,1,5:15,0,2,2,0,1,Gordon Hayward,Boston,Cleveland
3,41.7,3,1,4,4,0,2,3,50.0,6,...,5,36:32,0,12,14,1,10,Jayson Tatum,Boston,Cleveland
5,28.6,5,0,0,2,1,2,7,0.0,8,...,2,32:07,0,7,9,0,7,Al Horford,Boston,Cleveland
7,47.8,0,3,1,5,0,9,2,22.2,-5,...,11,39:36,2,23,25,2,6,Jaylen Brown,Boston,Cleveland
9,47.1,10,2,2,4,0,9,2,44.4,-1,...,8,39:21,3,17,22,4,4,Kyrie Irving,Boston,Cleveland
11,31.3,3,2,0,2,2,4,3,0.0,-8,...,5,35:03,2,16,12,0,9,Marcus Smart,Boston,Cleveland
13,100,1,2,2,5,1,0,4,0.0,-14,...,2,19:06,0,2,6,0,5,Aron Baynes,Boston,Cleveland
15,0.0,0,0,0,1,0,1,0,0.0,-10,...,0,8:39,0,2,0,0,0,Semi Ojeleye,Boston,Cleveland
17,33.3,2,0,0,0,0,3,4,33.3,4,...,2,19:32,4,6,9,1,3,Terry Rozier,Boston,Cleveland
19,0.0,0,0,0,0,0,1,0,0.0,2,...,0,4:49,0,1,0,0,1,Shane Larkin,Boston,Cleveland
21,DECISION,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,-,DNP,NA,COACH'S,NA,NA,NA,Abdel Nader,Boston,Cleveland
23,DECISION,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,-,DNP,NA,COACH'S,NA,NA,NA,Daniel Theis,Boston,Cleveland
25,63.2,9,4,1,3,2,5,4,20.0,2,...,12,41:12,0,19,29,1,16,LeBron James,Cleveland,Boston
27,30.0,2,1,1,2,0,5,4,20.0,7,...,3,34:44,2,10,11,1,5,Jae Crowder,Cleveland,Boston
29,44.4,0,2,3,2,0,4,7,25.0,0,...,4,28:24,0,9,15,1,11,Kevin Love,Cleveland,Boston
31,30.0,3,4,1,1,2,1,2,0.0,-1,...,3,28:30,0,10,8,0,2,Dwyane Wade,Cleveland,Boston
33,35.7,2,2,1,2,0,3,4,33.3,-7,...,5,31:15,0,14,14,1,4,Derrick Rose,Cleveland,Boston
35,66.7,2,2,1,3,0,0,3,0.0,3,...,2,19:36,0,3,5,0,6,Tristan Thompson,Cleveland,Boston
37,57.1,1,0,0,4,0,3,1,33.3,7,...,4,21:55,0,7,10,1,4,JR Smith,Cleveland,Boston
39,66.7,0,1,1,2,0,0,0,0.0,7,...,2,12:51,1,3,4,0,2,Iman Shumpert,Cleveland,Boston
41,37.5,0,1,0,3,0,1,0,0.0,-2,...,3,14:14,0,8,6,0,0,Jeff Green,Cleveland,Boston
43,0.0,0,0,0,2,0,0,0,0.0,-1,...,0,7:19,0,0,0,0,0,Kyle Korver,Cleveland,Boston
45,DECISION,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,-,DNP,NA,COACH'S,NA,NA,NA,Jose Calderon,Cleveland,Boston
47,DECISION,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,-,DNP,NA,COACH'S,NA,NA,NA,Channing Frye,Cleveland,Boston
49,DECISION,NA,NA,NA,NA,NA,NA,NA,NA,NA,...,-,DNP,NA,COACH'S,NA,NA,NA,Cedi Osman,Cleveland,Boston

In [11]:
#GAMES CELL: This prepares the games section into a dataframe
#Passing in csv file and getting rid of the unused rows
gamesDF = pd.read_csv('games.csv', header= None, names=['a','b','c','d','e','f','g','h','i'], index_col=False, error_bad_lines=False, delim_whitespace=True)
gamesDF.columns = [col.replace(',', '') for col in gamesDF.columns]
#if you want to operate on multiple columns, put them in a list like so:
games_cols = ['a','b','c','d','e','f','g','h','i']
# pass them to df.replace(), specifying each char and it's replacement:
gamesDF[games_cols] = gamesDF[games_cols].replace({'\$': '', ',': ''}, regex=True)
# This will add the winner to column b of each 26th row
for index, row in gamesDF.iterrows():
    if index % 26 == 0 or index == 0:
        if int(gamesDF['a'].iloc[index+4]) > int(gamesDF['a'].iloc[index + 8]):
            gamesDF['b'].iloc[index] = gamesDF['a'].iloc[index + 1]
        else:
            gamesDF['b'].iloc[index] = gamesDF['a'].iloc[index + 5]
    else:
        pass

In [12]:
#This cell will arrange the gamesDF into the actual formatted games dataframe, newGamesDF
#Setting up the index on the main stats dataframe
dateIndex = []
month = ['OCT', 'NOV', 'DEC', 'JAN', 'FEB']
for index, row in gamesDF.iterrows():
    for i in month:
        if gamesDF.iloc[index][0] == i:
            dateIndex.append(gamesDF.iloc[9,0] + " " + gamesDF.iloc[9,1][1] + ", " + gamesDF.iloc[9,2])
#The next lines will pull the data from the cells in the gamesDF and into the newGamesDF dataframe
gamesData = []
games = 0
for index, row in gamesDF.iterrows():
    if index == 0 or index % 26 == 0:
        gamesData.append(gamesDF.iloc[index+11,0])
        gamesData.append(gamesDF.iloc[index+12,0])
        gamesData.append(gamesDF.iloc[index,1])
        gamesData.append(gamesDF.iloc[index+11,1])
        gamesData.append(gamesDF.iloc[index+11,2])
        gamesData.append(gamesDF.iloc[index+11,3])
        gamesData.append(gamesDF.iloc[index+11,4])
        gamesData.append(gamesDF.iloc[index+12,1])
        gamesData.append(gamesDF.iloc[index+12,2])
        gamesData.append(gamesDF.iloc[index+12,3])
        gamesData.append(gamesDF.iloc[index+12,4])
        gamesData.append(gamesDF.iloc[index+8,0])
        gamesData.append(gamesDF.iloc[index+4,0])
        gamesData.append(gamesDF.iloc[index+22,2])
        gamesData.append(gamesDF.iloc[index+22,4])
        gamesData.append(gamesDF.iloc[index+22,6])
        games += 1
        
gamesData = np.array(gamesData)
gamesData = gamesData.reshape(games,16)
#Create an empty dataframe, based on the games date as the index
newGamesDF = pd.DataFrame(data = gamesData, columns=['Home','Away','W/L','1st Qtr H','2nd Qtr H','3rd Qtr H','4th Qtr H','1st Qtr A','2nd Qtr A','3rd Qtr A','4th Qtr A','Total H','Total A', 'Ref1','Ref2','Ref3'])
newGamesDF

,Home,Away,W/L,1st Qtr H,2nd Qtr H,3rd Qtr H,4th Qtr H,1st Qtr A,2nd Qtr A,3rd Qtr A,4th Qtr A,Total H,Total A,Ref1,Ref2,Ref3
0,BOS,CLE,CLEVELAND,19,19,33,28,29,25,18,30,102,99,"McCutchen""""","Smith""""",Forte

In [14]:
for index,row in finalStats.iterrows():
    finalStats['1st Qtr H'] = newGamesDF['1st Qtr H'][0]
    finalStats['2nd Qtr H'] = newGamesDF['2nd Qtr H'][0]
    finalStats['3rd Qtr H'] = newGamesDF['3rd Qtr H'][0]
    finalStats['4th Qtr H'] = newGamesDF['4th Qtr H'][0]
    finalStats['1st Qtr A'] = newGamesDF['1st Qtr A'][0]
    finalStats['2nd Qtr A'] = newGamesDF['2nd Qtr A'][0]
    finalStats['3rd Qtr A'] = newGamesDF['3rd Qtr A'][0]
    finalStats['4th Qtr A'] = newGamesDF['4th Qtr A'][0]
    finalStats['Total H'] = newGamesDF['Total H'][0]
    finalStats['Total A'] = newGamesDF['Total A'][0]
    finalStats['Ref1'] = newGamesDF['Ref1'][0]
    finalStats['Ref2'] = newGamesDF['Ref2'][0]
    finalStats['Ref3'] = newGamesDF['Ref3'][0]
    finalStats['W/L'] = newGamesDF['W/L'][0]
    finalStats['Home'] = newGamesDF['Home'][0]
    finalStats['Away'] = newGamesDF['Away'][0]

In [15]:
#This function will calculate the projected fantasy points per game
def fantasy_points(row):
    try:
        score = (int(row['3PM']) * 3) + (int(row['FGM']) * 2) + (int(row['REB']) * 1) + (int(row['AST']) * 1.5) + (int(row['BLK']) * 3) + (int(row['STL']) * 3) + (int(row['TOV']) * -1)
        return score
    except:
        pass

finalStats['Fantasy Score'] = finalStats.apply(fantasy_points, axis=1)

In [18]:
finalStats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 49
Data columns (total 41 columns):
FG%              25 non-null object
AST              25 non-null object
TOV              25 non-null object
OREB             25 non-null object
PF               25 non-null object
STL              25 non-null object
3PA              25 non-null object
FTA              25 non-null object
3P%              25 non-null object
+/-              25 non-null object
POS              25 non-null object
DREB             25 non-null object
FT%              25 non-null object
FTM              25 non-null object
FGM              25 non-null object
MIN              25 non-null object
BLK              25 non-null object
FGA              25 non-null object
PTS              25 non-null object
3PM              25 non-null object
REB              25 non-null object
Player           25 non-null object
TEAM             25 non-null object
OPPONENT         25 non-null object
1st Qtr H        25 non-null object
2nd Qtr H        25 non-null object
3rd Qtr H        25 non-null object
4th Qtr H        25 non-null object
1st Qtr A        25 non-null object
2nd Qtr A        25 non-null object
3rd Qtr A        25 non-null object
4th Qtr A        25 non-null object
Total H          25 non-null object
Total A          25 non-null object
Ref1             25 non-null object
Ref2             25 non-null object
Ref3             25 non-null object
W/L              25 non-null object
Home             25 non-null object
Away             25 non-null object
Fantasy Score    20 non-null float64
dtypes: float64(1), object(40)
memory usage: 8.2+ KB